.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*new css for movie component */
* {
  box-sizing: boder-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie{
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}